/* line 4, /home/zeus/rshop/app/assets/stylesheets/cart.scss */
.table > tbody > tr > td {
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  /* line 9, /home/zeus/rshop/app/assets/stylesheets/cart.scss */
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }

  /* line 14, /home/zeus/rshop/app/assets/stylesheets/cart.scss */
  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }

  /* line 19, /home/zeus/rshop/app/assets/stylesheets/cart.scss */
  .actions .btn-info {
    float: left;
  }

  /* line 23, /home/zeus/rshop/app/assets/stylesheets/cart.scss */
  .actions .btn-danger {
    float: right;
  }

  /* line 27, /home/zeus/rshop/app/assets/stylesheets/cart.scss */
  table#cart thead {
    display: none;
  }

  /* line 31, /home/zeus/rshop/app/assets/stylesheets/cart.scss */
  table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
  }

  /* line 37, /home/zeus/rshop/app/assets/stylesheets/cart.scss */
  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }

  /* line 42, /home/zeus/rshop/app/assets/stylesheets/cart.scss */
  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }

  /* line 49, /home/zeus/rshop/app/assets/stylesheets/cart.scss */
  table#cart tfoot td {
    display: block;
  }

  /* line 53, /home/zeus/rshop/app/assets/stylesheets/cart.scss */
  table#cart tfoot td .btn {
    display: block;
  }
}
