/* line 1, /home/zeus/rshop/app/assets/stylesheets/categories.scss */
.product_images_links {
  height: 200px;
}

/* line 5, /home/zeus/rshop/app/assets/stylesheets/categories.scss */
.product-box {
  height: 600px;
  text-align: center;
}

/* line 12, /home/zeus/rshop/app/assets/stylesheets/categories.scss */
.price {
  background-color: #fff3b5;
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  color: black;
}

/* line 19, /home/zeus/rshop/app/assets/stylesheets/categories.scss */
.cart-ico {
  height: 30px;
}

/* line 23, /home/zeus/rshop/app/assets/stylesheets/categories.scss */
.add-cart-btn {
  padding: 5px;
}

/* line 27, /home/zeus/rshop/app/assets/stylesheets/categories.scss */
.link-pos {
  margin-right: 3px;
}
