@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* line 3, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
span {
  color: #000000;
  text-decoration: none;
}

/* line 8, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
span:hover {
  color: #000000;
  cursor: pointer;
}

/* line 13, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
ol, ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* line 19, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
#wrap {
  margin: 0 auto;
}

/* line 23, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
.inner {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 40px;
}

/* line 29, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
.relative {
  position: relative;
}

/* line 33, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
.right {
  float: right;
}

/* line 37, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
.left {
  float: left;
}

/* HEADER */
/* line 42, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
#wrap > header {
  background-color: #333;
  padding-bottom: 20px;
}

/* line 47, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
.logo {
  display: inline-block;
  font-size: 0;
  padding-top: 15px;
}

/* line 53, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
#navigation {
  height: 60px;
  margin: 0 auto;
  text-align: center;
}

/* line 59, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
#menu-toggle {
  display: none;
  float: right;
}

/* HEADER > MENU */
/* line 65, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
#main-menu {
  float: left;
  width: 100%;
  font-size: 0;
  margin: 10px 0;
  border-bottom: 2px solid #eaeaea;
}

/* line 73, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
#main-menu > li {
  float: left;
  display: inline-block;
  margin-left: 15px;
  padding: 6px 0;
  padding-left: 15px;
  border-left: 2px solid #eaeaea;
}

/* line 82, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
#main-menu > li.parent {
  background-image: url(../images/plus-gray.png);
  background-size: 7px 7px;
  background-repeat: no-repeat;
  background-position: left center;
}

/* line 89, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
#main-menu > li.parent > span {
  padding-left: 14px;
}

/* line 93, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
#main-menu > li > span {
  color: #000000;
  font-size: 14px;
  line-height: 14px;
  padding: 30px 0;
  text-decoration: none;
  font-weight: bold;
  color: #333333;
}

/* line 103, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
#main-menu > li:hover > span,
#main-menu > li.current-menu-item > span {
  color: #2A52BE;
  font-weight: bold;
}

/* HEADER > MENU > DROPDOWN */
/* line 110, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
#main-menu li {
  position: relative;
}

/* line 114, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
ul.sub-menu {
  /* level 2 */
  display: none;
  left: 0px;
  top: 38px;
  padding-top: 10px;
  position: absolute;
  width: 150px;
  z-index: 9999;
}

/* line 125, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
ul.sub-menu ul.sub-menu {
  /* level 3+ */
  margin-top: -1px;
  padding-top: 0;
  left: 149px;
  top: 0px;
}

/* line 133, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
ul.sub-menu > li > span {
  background-color: #333;
  border: 1px solid #444;
  border-top: none;
  color: #bbb;
  display: block;
  font-size: 12px;
  line-height: 15px;
  padding: 10px 12px;
}

/* line 144, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
ul.sub-menu > li > span:hover {
  background-color: #2a2a2a;
  color: #fff;
}

/* line 149, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
ul.sub-menu > li:first-child {
  border-top: 3px solid #23dbdb;
}

/* line 153, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
ul.sub-menu ul.sub-menu > li:first-child {
  border-top: 1px solid #444;
}

/* line 157, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
ul.sub-menu > li:last-child > span {
  border-radius: 0 0 2px 2px;
}

/* line 161, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
ul.sub-menu > li > span.parent {
  background-image: url(../images/arrow.png);
  background-size: 5px 9px;
  background-repeat: no-repeat;
  background-position: 95% center;
}

/* line 168, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
#main-menu li:hover > ul.sub-menu {
  display: block;
  /* show the submenu */
}

@media all and (max-width: 700px) {
  /* line 175, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
  #navigation {
    margin: 0 auto;
    text-align: center;
    height: 60px;
  }

  /* line 181, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
  #menu-toggle {
    display: block;
  }

  /* line 185, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
  #main-menu {
    display: none;
    float: none;
  }

  /* line 190, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
  #main-menu li {
    display: block;
    margin: 0;
    padding: 0;
  }

  /* line 196, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
  #main-menu > li {
    margin-top: -1px;
  }

  /* line 200, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
  #main-menu > li:first-child {
    margin-top: 0;
  }

  /* line 204, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
  #main-menu > li > span {
    background-color: #333;
    border: 1px solid #444;
    color: #bbb;
    display: block;
    font-size: 14px;
    padding: 12px !important;
    padding: 0;
  }

  /* line 214, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
  #main-menu li > span:hover {
    background-color: #444;
  }

  /* line 218, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
  #main-menu > li.parent {
    background: none !important;
    padding: 0;
  }

  /* line 223, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
  #main-menu > li:hover > span,
  #main-menu > li.current-menu-item > span {
    border: 1px solid #444 !important;
    color: #fff !important;
  }

  /* line 229, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
  ul.sub-menu {
    display: block;
    margin-top: -1px;
    margin-left: 20px;
    position: static;
    padding: 0;
    width: inherit;
  }

  /* line 238, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
  ul.sub-menu > li:first-child {
    border-top: 1px solid #444 !important;
  }

  /* line 242, /home/zeus/rshop/app/assets/stylesheets/menu.scss */
  ul.sub-menu > li > span.parent {
    background: #333 !important;
  }
}
