<div class="row">
  <div class="col-sm-4">
    <%= render '/admin_panel/vmenu' %>
  </div>
  <div class="col-sm-8">
    <h1 class="text-center">New product</h1>
    <%= render 'form', product: @product %>
  </div>
</div>
